# ETL Project  12 January 2022

## Brief description of challenge here
what is ETL, what tools are used, what are the important steps.

## Brief description of the data here
Zillow Real Estate Data (used to be quandl, now Nasdaq), table format

In [2]:
# Setting dependencies, etc.

import numpy as np
import pandas as pd
pd.set_option('display.max_colwidth', None)

# for data extraction:
import quandl
quandl.ApiConfig.api_key = 'vxSYNGB-9owcVsRx_SEF'

import requests
import statistics
import time

# for communicating to database

from passwords import password
import psycopg2
import io
from sqlalchemy import create_engine

## Step 1: Data Extraction and preparation

### Extraction: source and comments

In [3]:
# Table 1: Data - values for all indicators
# Here, we're restricting the extraction to US records only (region_id = 102001)

zillow_data = quandl.get_table('ZILLOW/DATA', region_id = '102001', paginate = True)
zillow_data.head()

     indicator_id region_id       date     value
None
0            ZSFH    102001 2021-07-31  298319.0
1            ZSFH    102001 2021-06-30  292477.0
2            ZSFH    102001 2021-05-31  286907.0
3            ZSFH    102001 2021-04-30  281827.0
4            ZSFH    102001 2021-03-31  277736.0

In [4]:
# Table 2: Indicators - names and IDs of all indicators
zillow_ind = quandl.get_table('ZILLOW/INDICATORS', paginate = True)
zillow_ind.head()

,indicator_id,indicator,category
None,,,
0,ZSFH,ZHVI Single-Family Homes Time Series ($),Home values
1,ZCON,ZHVI Condo/Co-op Time Series ($),Home values
2,ZATT,ZHVI All Homes- Top Tier Time Series ($),Home values
3,ZALL,"ZHVI All Homes (SFR, Condo/Co-op) Time Series ($)",Home values
4,ZABT,ZHVI All Homes- Bottom Tier Time Series ($),Home values

In [5]:
# Table 3: Regions - names and IDs of all regions
# Even though we're restricting our attention to the US, there are lots of sub-regions.

zillow_reg = quandl.get_table('ZILLOW/REGIONS', paginate = True)
zillow_reg

      region_id region_type                                           region
None
0         99999         zip   98847; WA; Wenatchee; Chelan County; Peshastin
1         99998         zip              98846; WA; Okanogan County; Pateros
2         99997         zip  98845; WA; Wenatchee; Douglas County; Palisades
3         99996         zip             98844; WA; Okanogan County; Oroville
4         99995         zip     98843; WA; Wenatchee; Douglas County; Orondo
...         ...         ...                                              ...
79244    100000         zip      98848; WA; Moses Lake; Grant County; Quincy
79245     10000        city                  Bloomington; MD; Garrett County
79246      1000      county                      Echols County; GA; Valdosta
79247       100      county               Bibb County; AL; Birmingham-Hoover
79248        10       state                                     Colorado; CO

[79249 rows x 3 columns]

In [6]:
list(zillow_reg['region_type'].unique())

['zip', 'city', 'county', 'neigh', 'state', 'metro']

There's a lot of variety in the information in the 'region' column. For the database, each column has to have one type of entry. The solution is to create additional columns for each one of the six region types (listed above). The data from region will be parsed into those columns, then deleted.

## Preparation
checking data types, removing uninformative characters, parsing info from one column into many

In [6]:
# Making the necessary additional columns

zillow_reg['zip'] = ''
zillow_reg['state'] = ''
zillow_reg['neigh'] = ''
zillow_reg['county'] = ''
zillow_reg['city'] = ''

#### Parsing out information for the different region types. Using a double loop. A series of conditionals based on evaluating the contents between splitting character, The semicolon ';' character is what defines splitting fields
#### Starting with zipcode. Go l-r down the string. First, look for a set of digits. If they exist, put into zip column. Next, look for a set of 3 characters (state), save as state, etc.

In [7]:
zipcode = zillow_reg[zillow_reg['region_type'] == 'zip']['region'].str.split(';', n=4, expand = True)
for i in range(5):
    for j in zipcode.index:
        if str(zipcode[i][j]).isdigit():
            zillow_reg['zip'][j] = zipcode[i][j]
        elif len(str(zipcode[i][j])) == 3:
            zillow_reg['state'][j] = zipcode[i][j]
        elif str(zipcode[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = zipcode[i][j]
        elif str(zipcode[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = zipcode[i][j]
        elif str(zipcode[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = zipcode[i][j] 
        else:
            zillow_reg['city'][j] = zipcode[i][j]

So far, so good. Now, follow same procedure for remaining region types.

In [8]:
# region type: city

city = zillow_reg[zillow_reg['region_type'] == 'city']['region'].str.split(';', n=4, expand = True)
for i in range(0,1):
    for j in city.index: 
        if str(city[i][j]).isdigit():
            zillow_reg['zip'][j] = city[i][j]
        elif len(str(city[i][j])) == 3:
            zillow_reg['state'][j] = city[i][j]
        elif str(city[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = city[i][j]
        elif str(city[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = city[i][j]
        elif str(city[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = city[i][j] 
        else:
            zillow_reg['city'][j] = city[i][j]

In [11]:
city;

In [9]:
# region type: neighborhood ('neigh')
# there's not many of them

nhood = zillow_reg[zillow_reg['region_type'] == 'neigh']['region'].str.split(';', n = 4, expand = True)
for i in range (4):
    for j in nhood.index: 
        if str(nhood[i][j]).isdigit():
            zillow_reg['zip'][j] = nhood[i][j]
        elif len(str(nhood[i][j])) == 3:
            zillow_reg['state'][j] = nhood[i][j]
        elif str(nhood[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = nhood[i][j]
        elif str(nhood[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = nhood[i][j]
        elif str(nhood[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = nhood[i][j] 
        else:
            zillow_reg['city'][j] = nhood[i][j]

In [10]:
nhood;

In [12]:
# region type: county

county = zillow_reg[zillow_reg['region_type'] == 'county']['region'].str.split(';', n = 4, expand = True)
for i in range (2):
    for j in county.index: 
        if str(county[i][j]).isdigit():
            zillow_reg['zip'][j] = county[i][j]
        elif len(str(county[i][j])) == 3:
            zillow_reg['state'][j] = county[i][j]
        elif str(county[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = county[i][j]
        elif str(county[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = county[i][j]
        elif str(county[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = county[i][j] 
        else:
            zillow_reg['city'][j] = county[i][j]

In [13]:
county;

In [14]:
# region type: state

state = zillow_reg[zillow_reg['region_type'] == 'state']['region'].str.split(';', n = 1, expand = True)
for i in range (2):
    for j in state.index: 
        if str(state[i][j]).isdigit():
            zillow_reg['zip'][j] = state[i][j]
        elif len(str(state[i][j])) == 3:
            zillow_reg['state'][j] = state[i][j]
        elif str(state[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = state[i][j]
        elif str(state[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = state[i][j]
        elif str(state[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = state[i][j] 
        else:
            zillow_reg['city'][j] = state[i][j]

In [15]:
state;

In [16]:
# region type: metro

metro = zillow_reg[zillow_reg['region_type'] == 'metro']['region'].str.split(';', n = 1, expand = True)
met = metro[0].str.split(',', n = 2, expand = True) # there's a second delimiter to deal with
for i in range (2):
    for j in met.index: 
        if str(met[i][j]).isdigit():
            zillow_reg['zip'][j] = met[i][j]
        elif len(str(met[i][j])) == 3:
            zillow_reg['state'][j] = met[i][j]
        elif str(met[i][j]).find('-') != -1:  
            zillow_reg['neigh'][j] = met[i][j]
        elif str(met[i][j]).find(' County') != -1:
            zillow_reg['county'][j] = met[i][j]
        elif str(met[i][j]).find(' Borough') != -1:
            zillow_reg['county'][j] = met[i][j] 
        else:
            zillow_reg['city'][j] = met[i][j]

In [17]:
met;

In [22]:
# Looking at the data frame:
zillow_reg

,region_id,region_type,region,zip,state,neigh,county,city
None,,,,,,,,
79234,10001,city,Blountsville; AL; Birmingham-Hoover; Blount County,,,,,Blountsville
79235,100009,zip,98858; WA; Wenatchee; Douglas County; Waterville,98858,WA,,Douglas County,Waterville
79236,100008,zip,98857; WA; Moses Lake; Grant County; Warden,98857,WA,,Grant County,Warden
79237,100007,zip,98856; WA; Okanogan County; Twisp,98856,WA,,Okanogan County,None
79238,100006,zip,98855; WA; Okanogan County; Tonasket,98855,WA,,Okanogan County,None
79239,100005,zip,98853; WA; Moses Lake; Grant County,98853,WA,,Grant County,None
79240,100004,zip,98852; WA; Okanogan County; Winthrop,98852,WA,,Okanogan County,None
79241,100003,zip,98851; WA; Moses Lake; Grant County; Soap Lake,98851,WA,,Grant County,Soap Lake
79242,100002,zip,98850; WA; Wenatchee; Douglas County; Rock Island,98850,WA,,Douglas County,Rock Island
79243,100001,zip,98849; WA; Okanogan County; Riverside,98849,WA,,Okanogan County,None
79244,100000,zip,98848; WA; Moses Lake; Grant County; Quincy,98848,WA,,Grant County,Quincy
79245,10000,city,Bloomington; MD; Garrett County,,,,,Bloomington
79246,1000,county,Echols County; GA; Valdosta,,GA,,Echols County,
79247,100,county,Bibb County; AL; Birmingham-Hoover,,AL,,Bibb County,
79248,10,state,Colorado; CO,,CO,,,Colorado

This is imperfect; there are plenty of cities not being parsed out correctly. I'm moving forward with the exercise and will not use 'city' in a query.

In [24]:
# dropping 'region' column from table:

zillow_reg.drop('region', axis = 1, inplace = True)

In [25]:
zillow_reg[zillow_reg['region_type'] == 'zip']

      region_id region_type    zip state neigh            county          city
None
0         99999         zip  98847    WA           Chelan County     Peshastin
1         99998         zip  98846    WA         Okanogan County          None
2         99997         zip  98845    WA          Douglas County     Palisades
3         99996         zip  98844    WA         Okanogan County          None
4         99995         zip  98843    WA          Douglas County        Orondo
...         ...         ...    ...   ...   ...               ...           ...
79240    100004         zip  98852    WA         Okanogan County          None
79241    100003         zip  98851    WA            Grant County     Soap Lake
79242    100002         zip  98850    WA          Douglas County   Rock Island
79243    100001         zip  98849    WA         Okanogan County          None
79244    100000         zip  98848    WA            Grant County        Quincy

[31189 rows x 7 columns]

In [26]:
zillow_reg[zillow_reg['region_type'] == 'neigh']

,region_id,region_type,zip,state,neigh,county,city
None,,,,,,,
625,9926,neigh,,GA,,Chatham County,Savannah
2308,9682,neigh,,LA,,,Ouachita Parish
2545,9646,neigh,,CT,,Windham County,Worcester
2618,9632,neigh,,PA,,Allegheny County,Pittsburgh
3119,9545,neigh,,NY,Albany-Schenectady-Troy,Albany County,Westmere
...,...,...,...,...,...,...,...
78862,102086,neigh,,CA,San Francisco-Oakland-Hayward,Alameda County,Central
78864,102066,neigh,,AK,,Fairbanks North Star Borough,Fairbanks
78865,102065,neigh,,AK,,Anchorage Borough,Anchorage
78891,10171,neigh,,MD,Baltimore-Columbia-Towson,,Baltimore City
79179,10007,neigh,,NY,New York-Newark-Jersey City,Queens County,Arverne

## Step 2: Transformation

### Creating database in PostgresQL using psycopg2
Using the DDL to create tables (talk about staging, goal)

First, we need to create staging tables as a buffer in the database to hold newly extracted data. 
I create three staging tables (data, indicator, region). The creation of the extra columns in the region table requires the creation of additional database tables for querying. Tables are created using Data Description Language (DDL). Tables are related by the primary or foreign keys. The embedded LucidChart figure illustrates the relationships among tables in this project.

Also, we need to connect to PostgreSL using psycopg2.

In [20]:
##### Connection to PostgreSQL and DDL for table creation ####

def create_tables():
    
    '''create tables in postgreSQL'''
    
    
    commands = (
    '''
    CREATE TABLE stage_zillow_indicator(
    stage_indicator_id CHAR(5),
    stage_indicator VARCHAR(255),
    stage_category VARCHAR(255)
                                        )
    ''',
    '''
    CREATE TABLE stage_zillow_region(
    stage_region_id INTEGER,
    stage_region_type VARCHAR(255),
    stage_zipcode CHAR(10),
    stage_state CHAR(5),
    stage_neigh VARCHAR(255)
    stage_county VARCHAR(255),
    stage_city VARCHAR(255),
                                     )
    ''',
    '''
    CREATE TABLE stage_zillow_data(
    stage_indicator_id CHAR(5),
    stage_region_id INTEGER,
    stage_date DATE,
    stage_value MONEY
                                   )
    ''',
    '''
    CREATE TABLE category(
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(255) NOT NULL
                        )
    ''',
    '''
    CREATE TABLE indicator(
    indicator_id SERIAL PRIMARY KEY,
    indicator_name CHAR(5) NOT NULL,
    indicator VARCHAR(255) NOT NULL,
    category_id SERIAL REFERENCES category(category_id)
                             )
    ''',
    '''
    CREATE TABLE region_type(
    region_type_id SERIAL PRIMARY KEY,
    region_type_name VARCHAR(255) NOT NULL
                             )
    ''',
    '''
    CREATE TABLE region(
    region_id SERIAL PRIMARY KEY,
    region_num INTEGER, 
    region_type_id SERIAL REFERENCES region_type(region_type_id),
    neigh VARCHAR(255),
    city VARCHAR(255),
    county VARCHAR(255),
    state CHAR(5),
    zip CHAR(10)
                       )
    ''',
    '''
    CREATE TABLE real_data(
    real_data SERIAL PRIMARY KEY,
    region_id SERIAL REFERENCES region(region_id),
    ind_id SERIAL REFFERENCES indicator(ind_id),
    date DATE,
    value MONEY
                             )
    ''')
    
    conn = None
    
    
    try:
        conn = psycopg2.connect(database='zillow', user = 'postgres', password = password)
        print('Database connected')
        
        cur = conn.cursor()
        print('cursor')
        
        for command in commands: 
            cur.execute(command)
            
        print('Tables created')
        
        cur.close()
        print('Connection closed')
        
        conn.commit()
        print('Tables committed')
        
    except:
        print('Error loading')
        
        
if __name__ == '__main__':
    create_tables()

Error loading

## Step 3: Loading the staging data

Using sqlalchemy to create engine.

## Step 4: Inserting data into tables.

## Step 5: Query the database